@page "/"

<Modal 
    Title="Ma première boîte de dialogue modale"
    Show="true">

    <p>
        Cette boîte de dialogue permet de tester
        un composant Razor réutilisable provenant
        d'une bibliothèque de classes Razor.
    </p>

</Modal>
